.card {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  margin-bottom: rem(36px);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 700;
}

.item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  border-radius: var(--mantine-radius-md);
  height: rem(90px);

  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );

  text-decoration: none;
  color: inherit;

  transition: box-shadow 150ms ease, transform 100ms ease,
    background-color 150ms ease;
}

/* Hover desktop */
@media (hover: hover) {
  .item:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }

  .item:hover .externalIcon {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (hover: none) {
  .item:active {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }
}

.item:focus-visible {
  outline: 2px solid var(--mantine-color-blue-5);
  outline-offset: 2px;
}

.externalIcon {
  position: absolute;
  top: 8px;
  right: 8px;

  opacity: 0.5;
  transform: translateY(-2px);
  transition: opacity 150ms ease, transform 150ms ease;
}
